<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Google Map in jQuery dialog box</title>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"  type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"  type="text/javascript"></script>

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-darkness/jquery-ui.css" />
<style>
    .gBubble
    {
        color:black;
        font-family:Tahoma, Geneva, sans-serif;
        font-size:12px;
    }
</style>
<script>
    var map;
    var coords = new Object();
    var markersArray = [];
    var geocoder = new google.maps.Geocoder();
    var updating_enabled = true;
    var url = 'http://localhost:3000';

    coords.lat = 24;
    coords.lng = -93;

    // the default location for un-resolvable locations:
    var greenland;
    geocoder.geocode( { 'address': 'Greenland'}, function(results, status) {
            greenland = results[0].geometry.location;
        });


    function setTimers() {

        if (updating_enabled) {
            setTimeout(checkForMore, 3000);
            setTimeout(cleanupOldies, 2000);

            // and call this again, to loop forever:
            setTimeout(setTimers, 3000);
        }
        return;
    }

    function cleanupOldies() {
        // remove the oldest points from the map (only keep 10):
        while (markersArray.length > 10) {
            markersArray[0].setMap(null);
            markersArray.shift();
        }

        // remove all points on the map
        //for (var i = 0; i < markersArray.length; i++ ) {
        //    if (markersArray[i] != null) {
        //        markersArray[i].setMap(null);
        //    }
        //}
        //markersArray.length = 0;

    }

    function checkForMore() {
        // check if the server has any more points for us to plot:
        //plotPoint(codeAddress("Portland, OR"));

        if (!updating_enabled) { return; }

        function parse(data) {
            for (var i=0; i < data.length; i++ ) {
                plotPoint(data[i]);
            }

        }

        jQuery.getJSON(url + '/consume', parse);

        return;
    }

    function stopFakeData() {
        $.ajax({
                type: "POST",
                url: url + '/fakedata',
                data: { "enabled": "false" }
            });
    }

    $(document).ready(function()
    {
        // if we refreshed the page, turn off fake data generation on the server, until someone
        // clicks the button again.
        stopFakeData();

        $("#map_container").dialog({
            autoOpen:false,
            width: 1100,
            //width:"100%",
            height: 700,
            //height:$(window).height(),
            //zIndex: 1000,
            resizeStop: function(event, ui) {google.maps.event.trigger(map, 'resize');},
            open: function(event, ui) {google.maps.event.trigger(map, 'resize');}
        });


        $("#runMap").click(function() {

            $( "#map_container" ).dialog( "open" );
            map.setCenter(new google.maps.LatLng(coords.lat, coords.lng), 10);
            updating_enabled = true;

            // start with some interesting points:
            plotPoint('dflksdnflknsdlkfvndlskn');
            plotPoint('dflknsdlkfvndlskn');
            plotPoint('Portland, OR');
            plotPoint('San Francisco, CA');

            // then trigger refreshing:
            setTimeout(setTimers, 100);
            return;
        });

        initialize();
        $( "input:submit,input:button, a, button", "#controls" ).button();

        //plotPoint(40, -99, 'N/A', '');

        $("#stopMap").click(function() {
            updating_enabled = false;
            stopFakeData();
            return false;
        });

        $("#fakeData").click(function() {
            $.ajax({
                type: "POST",
                url: url + '/fakedata',
                data: { "enabled": "true" }
            });
            return;
        });

    });

    function plotPoint(address) {
    /*
        Takes a city name, zip, intersection, etc. But not lat/lon. Because we send it
        to geocode, which can take only one or the other data types. We're going to pass
        in city names, so that's all we support right now.
    */

        geocoder.geocode( { 'address': address}, function(results, status, result) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    animation: google.maps.Animation.DROP
                });
                markersArray.push(marker);
            }
            else {
                // un-resolvable address go to Greenland:
                var fake_marker = new google.maps.Marker({
                    map: map,
                    position: greenland,
                    animation: google.maps.Animation.DROP
                });
                markersArray.push(fake_marker);
            }
        });


        //var myLatlng = new google.maps.LatLng(srcLat, srcLon);
    }

    function initialize() {

        var latlng = new google.maps.LatLng(coords.lat, coords.lng);
        var myOptions = {
          zoom: 2,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),  myOptions);

    }

</script>
</head>

<body>
    <!--<div id="info">
        <p> Click "Start Streaming" to start the map." </p>
    </div> -->
    <div id="controls">
        <input type="button" name="runMap" value="Start Streaming" id="runMap" />
        <input type="button" name="stopMap" value="Stop Streaming" id="stopMap" /> &nbsp; &nbsp; &nbsp;
        <input type="button" name="fakeData" value="Stream Some Fake Data" id="fakeData" />
    </div>

    <div id="map_container" title="Current Requests">
        <div id="map_canvas" style="width:100%;height:100%;"></div>
    </div>

</body>
</html>

